# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front-end/node_modules
/back-end/node_modules

# production
/back-end/build
/front-end/build

# misc
/backend/.env

