
/* ******************** My Reset ******************** */
:root {
  --white: #fff;
  --gray-light: #f2f2f2;
  --dark: #1f1f1f;
  --footer-height: 51px;
  --bg-primary: #375A7F;
  --text-primary: #fff;
  --text-secondary: #0f0f0f;
  --green: #119611;
  --red: #e23131;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: 'Roboto', sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  text-rendering: optimizeSpeed;
  color: var(--text-se);
  overflow-x: hidden;
  background-color: var(--white-color);
  scroll-behavior: smooth;
}

a {
  color: var(--dark);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  box-shadow: inset 0 -2px 0 var(--dark);
  opacity: 0.8;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
